{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags%}
{% block body_class %}template-homepage{% endblock %}
{% block content %}

<style>
    .resume-button:hover {
        opacity: 0.5;

    }

    .center-home {
        display: flex;
        /* align-items: center; */
        flex-direction: column;
        justify-content: space-around;
        height: 80vh !important;
    }

    .codehilite {
        background-color: #f7f7f7;
    }

    @media only screen and (max-width: 667px) {
        .home-page-image {
            display: none;
        }

        .home-heading {
            justify-content: flex-start !important;
        }
    }
</style>
<div class="container">
    <div class="row " style="height: 100%">
        <div class="col-md-6 center-home">
            <div class="pl-0 pr-0 p-4">
                <div style=" border: 1px solid black;" class="col-md-2 col-sm-3 col-5">

                </div>
                <h1 class="mt-3">
                    About Me
                </h1>
                <p>
                    {{ page.Description }}
                </p>

                <p class="mt-5 pt-4">To know more about me download the CV</p>
                <a type="button" class="btn resume-button" href="{{ page.book_file.url }}"
                    style="background-color: #282829;color: #fbfbfb;"><i class="fa fa-download p-2 pt-0 pb-0"></i>
                    Download Resume</a>
            </div>

            <!-- <div class="p-4">

                <h5>
                    Get In Touch With Me
                </h5>

                <a type="button" class="btn resume-button" href="mailto:ssujeet2019@gmail.com"
                    style="background-color: #282829;color: #fbfbfb;">Contact Me</a>
            </div> -->
        </div>
        <div class="col home-page-image">
            {% image page.thumbNail original as blog_img %}
            <img class="card-img fadeIn" src="{{blog_img.url}}" alt="blog">
        </div>
    </div>

    <div style="position: relative;" class="mt-4">


        <div class="d-flex justify-content-center home-heading p-4">
            <div>


                <h1>
                    Latest Projects
                </h1>
                <div style=" border: 1px solid black;" class="col-md-8 col-sm-10 col-8 m-auto mt-md-4 mt-sm-2 mt-0">

                </div>
            </div>
        </div>
        {% include "projects/posts.html" %}

        <div class="d-flex justify-content-center home-heading p-4">
            <div>


                <h1>
                    Latest Blogs
                </h1>
                <div style=" border: 1px solid black;" class="col-md-8 col-sm-10 col-8 m-auto mt-md-4 mt-sm-2 mt-0">

                </div>
            </div>
        </div>


        {% include "blogs/posts.html" %}
    </div>
</div>
{% endblock %}