{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags%}


{% load wagtailcore_tags %}


{% block body_class %}template-homepage{% endblock %}

{% block content %}


<!-- LATEST POST -->

 

  <!-- SEARCH BAR -->




 <!-- Blog Posts  -->
  
<!-- PAGINATOR -->

  {% if posts.paginator.num_pages > 1 %}
  <div class="container">
    
          <div class="col-lg-12 ">
              <div class="pagination float-right">
                  {% if posts.has_previous %}
                      <li class="page-item">
                          <a href="?page={{ posts.previous_page_number }}" class="page-link">
                              <span>&laquo;</span>
                          </a>
                      </li>
                  {% endif %}

                  {% for page_num in posts.paginator.page_range %}
                      <li class="page-item {% if page_num == posts.number %} active{% endif %}">
                          <a href="?page={{ page_num }}" class="page-link">
                              {{ page_num }}
                          </a>
                      </li>
                  {% endfor %}

                  {% if posts.has_next %}
                      <li class="page-item">
                          <a href="?page={{ posts.next_page_number }}" class="page-link">
                              <span>&raquo;</span>
                          </a>
                      </li>
                  {% endif %}
              </div>
      </div>
  </div>
{% endif %}
</div>

<!-- SUBSCRIBTION -->

<hr>
</div>


{% endblock %}

