{% extends "base.html" %}

{% block body_class %}template-404{% endblock %}

{% block content %}

<div class="container mb-2">
    <h1>Page not found</h1>

    <h2>Sorry, this page could not be found.</h2>

    <a href="/" class="btn mt-4 pl-4 pr-4 submit-button" style="background-color: #282829;color: #fbfbfb;">
        Go to Our home Page
    </a>

</div>

{% endblock %}