{% load static wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <title>
    {% block title %}
    {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
    {% endblock %}
    {% block title_suffix %}
    {% with self.get_site.site_name as site_name %}
    {% if site_name %}- {{ site_name }}{% endif %}
    {% endwith %}
    {% endblock %}
  </title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
    integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
    integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;900&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/4b9ba14b0f.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />



  {# Global stylesheets #}
  <link rel="stylesheet" type="text/css" href="{% static 'css/mysite_portfolio.css' %}">

  {% block extra_css %}
  {# Override this in templates to add extra stylesheets #}
  {% endblock %}


  <style>
    .hide-content {
      display: none !important;
    }

    .head-color {
      color: #454545;
    }

    .box:hover .head-color {
      color: #0a58ca;
    }

    .box:hover .hide-content {
      display: block !important;
    }

    .box {
      transition: box-shadow 0.3s;
      transition: display 0.3s;
      background: #fff;
    }

    .box:hover {
      box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
    }

    .box:hover .image-hover {
      opacity: 0.6;
    }

    .subscribe-block {
      background-color: #f2f5f7;
      height: 300px;
    }

    .submit-button {
      height: 45px;
    }

    .useful-links:hover {
      opacity: 0.5;

    }

    .custom-nav-link:hover {
      color: 0.5 !important;

    }
  </style>
</head>

{% include "navbar.html" %}
{% block content %} {% endblock %}

{% include "footer.html" %}

</html>