<footer class="page-footer font-small mdb-color pt-4" style="background-color: #282829">
  <!-- Footer Links -->
  <div class="container text-center text-md-left">
    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3 pb-3">
      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold text-white">
          Sujeet Singh
        </h6>
        <p class="text-white">A Full Stack Developer</p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none" />

      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none" />

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold text-white">
          Useful links
        </h6>
        <p>
          <a href="/" class="text-decoration-none text-white useful-links">Home</a>
        </p>
        <p>
          <a href="/blogs" class="text-decoration-none text-white useful-links">Blogs</a>
        </p>
        <p>
          <a href="/projects" class="text-decoration-none text-white useful-links">Projects</a>
        </p>
        <p>
          <a href="/contact" class="text-decoration-none text-white useful-links">Contact</a>
        </p>
        <p>
          <a href="#" class="text-decoration-none text-white useful-links">Go To Top</a>
        </p>
      </div>

      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none" />

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold text-white useful-links">
          Contact
        </h6>
        <p class="text-white">
          <i class="fa fa-home mr-3"></i> Kathmandu, Nepal
        </p>
        <p>
          <a class="text-white text-decoration-none useful-links" href="mailto:info@gmail.com ">
            <i class="fa fa-envelope mr-3"></i> info@gmail.com</a>
        </p>
        <p>
          <a class="text-white text-decoration-none useful-links" href="tel:98067854710">
            <i class="fa fa-phone mr-3"></i> +977 98067854710</a>
        </p>
        <div>
          <!-- Social buttons -->
          <div class="text-center text-md-right">
            <ul class="list-unstyled list-inline">
              <!-- <li class="list-inline-item">
                <a href="https://gitlab.com/Ssujeet" class="btn-floating btn-sm rgba-white-slight mx-1 useful-links">
                  <i class="fa fa-google-plus fa-lg useful-links" style="color: white"></i>
                </a>
              </li> -->
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/sujeet-singh-46a151184/" target="_blank"
                  class="btn-floating btn-sm rgba-white-slight mx-1 useful-links">
                  <i class="fa fa-linkedin fa-lg useful-links" style="color: white"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://gitlab.com/Ssujeet" class="btn-floating btn-sm rgba-white-slight mx-1 useful-links"
                  target="_blank">
                  <i class="fa fa-gitlab fa-lg useful-links" style="color: white"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>

      </div>

      <!-- Grid column -->
    </div>
    <!-- Footer links -->

    <hr />
    <div class="row d-flex align-items-center">

      <div class="col-md-7 col-lg-8"></div>
      <p class="text-center text-md-left text-white">
        © 2021 Copyright:
        <a href="/" class="text-decoration-none">
          <strong class="text-white"> Sujeet Singh</strong>
        </a>
      </p>
    </div>
  </div>
  <!-- Grid row -->
  </div>
  <!-- Footer Links -->
</footer>