{% load static %}

<html>

<head>

    <style>
        * {
            text-decoration: none;
            list-style: none;
            margin: 0px;
            padding: 0px;
            outline: none;
        }



        section {
            margin: 0px auto;
            display: table;
            position: relative;
        }



        header {
            width: 100%;
            display: table;
            background-color: #282829;
            margin-bottom: 50px;
        }

        #logo {
            float: left;
            font-size: 24px;
            text-transform: uppercase;
            color: #002e5b;
            font-weight: 600;
            padding: 10px 0px;
        }

        nav {
            width: auto;
            float: right;
        }

        nav ul {
            display: table;
            float: right;
        }

        nav ul li {
            float: left;
        }

        nav ul li:last-child {
            padding-right: 0px;
        }

        nav ul li a {
            color: #002e5b;
            font-size: 18px;
            padding: 25px 20px;
            display: inline-block;
            transition: all 0.5s ease 0s;
            text-decoration: none;
        }

        nav ul li a:hover {

            opacity: 0.5;
            transition: all 0.5s ease 0s;
        }



        .toggle-menu ul {
            display: table;
            width: 25px;
        }

        .toggle-menu ul li {
            width: 100%;
            height: 3px;
            background-color: #002e5b;
            margin-bottom: 4px;
        }

        .toggle-menu ul li:last-child {
            margin-bottom: 0px;
        }

        input[type=checkbox],
        label {
            display: none;
        }






        @media only screen and (max-width: 1440px) {
            section {
                max-width: 95%;
            }
        }

        @media only screen and (max-width: 980px) {
            header {
                padding: 20px 0px;
            }

            #logo {
                padding: 0px;
            }

            input[type=checkbox] {
                position: absolute;
                top: -9999px;
                left: -9999px;
                background: none;
            }

            input[type=checkbox]:fous {
                background: none;
            }

            label {
                float: right;
                display: inline-block;
                cursor: pointer;
            }

            input[type=checkbox]:checked~nav {
                display: block;
            }

            nav {
                display: none;
                position: absolute;
                right: 0px;
                top: 53px;
                background-color: #57575b;
                padding: 0px;
                z-index: 99;
            }

            nav ul {
                width: auto;
            }

            nav ul li {
                float: none;
                padding: 0px;
                width: 100%;
                display: table;
            }

            nav ul li a {
                color: #FFF;
                font-size: 15px;
                padding: 10px 20px;
                display: block;
                border-bottom: 1px solid rgba(225, 225, 225, 0.1);
            }

            nav ul li a i {
                color: #fde428;
                padding-right: 13px;
            }
        }

        @media only screen and (max-width: 980px) {
            .content {
                width: 90%;
            }
        }

        @media only screen and (max-width: 568px) {
            h1 {
                padding: 25px 0px;
            }

            h1 span {
                display: block;
            }
        }

        @media only screen and (max-width: 480px) {
            section {
                max-width: 90%;
            }
        }

        @media only screen and (max-width: 360px) {
            h1 {
                font-size: 20px;
            }

            label {
                padding: 5px 0px;
            }

            #logo {
                font-size: 20px;
            }

            nav {
                top: 47px;
            }
        }

        @media only screen and (max-width: 320px) {
            h1 {
                padding: 20px 0px;
            }
        }

        .menu-icon {
            width: 35px;
            height: 5px;
            background-color: whitesmoke;
            margin: 6px 0;
        }
    </style>
</head>





<header>
    <section class="container">
        <a href="/" id="logo" class="text-white text-decoration-none col-lg-1 col-md-2 col-sm-2 col-3"><img
                src='{% static "images/logo1.png" %}' class=" img-fluid" alt="Responsive image"></a>

        <label for="toggle-1" class="toggle-menu">
            <ul>
                <div class="menu-icon"></div>
                <div class="menu-icon"></div>
                <div class="menu-icon"></div>
            </ul>
        </label>
        <input type="checkbox" id="toggle-1">

        <nav>
            <ul>
                <li><a href="/" class="text-white">Home</a></li>
                <li><a href="/blogs" class="text-white">Blogs</a></li>
                <li><a href="/projects" class="text-white">Projects</a></li>
                <li><a href="/contact" class="text-white">Contact</a></li>

            </ul>
        </nav>
    </section>
</header>



</html>