{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags%}


{% load wagtailcore_tags %}


{% block body_class %}template-homepage{% endblock %}

{% block content %}

<style>





</style>

<!-- LATEST POST -->



<!-- SEARCH BAR -->



{% include "blogs/latest_post.html" %}
<!-- DISCOVER MORE POST -->

{% include "blogs/posts.html" %}

<!-- Blog Posts  --

  
  


  
<! -- PAGINATOR -->

{% if posts.paginator.num_pages > 1 %}
<div class="container mb-2">
  <div class="d-flex flex-row-reverse">
    <nav aria-label="Page navigation example">

      <div class="col-lg-12 ">
        <div class="pagination float-right">
          {% if posts.has_previous %}
          <li class="page-item">
            <a href="?page={{ posts.previous_page_number }}" class="page-link">
              <span>&laquo;</span>
            </a>
          </li>
          {% endif %}

          {% for page_num in posts.paginator.page_range %}
          <li class="page-item {% if page_num == posts.number %} active{% endif %}">
            <a href="?page={{ page_num }}" class="page-link">
              {{ page_num }}
            </a>
          </li>
          {% endfor %}

          {% if posts.has_next %}
          <li class="page-item">
            <a href="?page={{ posts.next_page_number }}" class="page-link">
              <span>&raquo;</span>
            </a>
          </li>
          {% endif %}
        </div>
      </div>
    </nav>

  </div>



</div>
{% endif %}
</div>
<div style="background-color: #f2f5f7;">
  <div class="container p-4">
    <h3 class="d-flex justify-content-center pt-4 text-muted">
      SUBSCRIBE TO MY BLOG CHANNEL</h3>

    <small class="text-muted d-flex justify-content-center">
      GET NOTIFIED ON LATEST BLOGS RELEASE AND COOL PROJECTS LIVE DEMO
    </small>
    <form class="d-flex justify-content-center mt-4" action="{% routablepageurl page 'the_subscribe_page' %}"
      method="POST">
      {% csrf_token %}
      <input required type="email" id="email" name="email" placeholder="someone@email.com" class="p-2 col-md-5" />
      <input type="submit" value="Subscribe"
        class="p-1 rounded-0 btn btn-success col-md-2 submit-button align-self-center" /></form>
  </div>
</div>
<!-- SUBSCRIBTION -->
</div>


{% endblock %}