{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags wagtailmd %}


{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
<style>
    .highlight {
        background-color: #f7f7f7 !important;
        padding: 15px !important;
        margin-top: 1rem;
        border-radius: 5px;
    }

    p {
        margin-top: 1rem;
    }
</style>
<div class="container " style="padding-top:2rem;">
    <div class="col-md-10">
        <h1>
            {{page.title}}
        </h1>
        <span style="color: rgb(107, 107, 107); font-size: 14px;">
            Posted at:
            {{page.created_date}}
        </span>
        <br />
        {% if  page.isBlog_updated %}
        <span style="color: rgb(107, 107, 107); font-size: 14px; ">
            Updated at:
            {{page.updated}}

        </span>

        {% endif %}
        {% image page.thumbNail original as blog_img %}

        <image alt="Demo" src="{{ blog_img.url }}" width="100%" height="500" class="image-hover mt-2" />

        <div class="border-bottom pb-3 mt-3 mb-2">
            {{page.Content|markdown|safe}}
        </div>
        <div class="fb-comments" data-href="https://laxman-blog.herokuapp.com/blogs/{{page.title}}" data-numposts="5"
            data-width=""></div>
    </div>

    <div class="home-heading pt-2">
        <div>
            <h1>
                Other Blogs
            </h1>
            <div  class="col-md-8 col-sm-10 col-8 m-auto mt-md-4 mt-sm-2 mt-0">
    
            </div>
        </div>

        {% include "blogs/posts.html" %}
    </div>
</div>


{% endblock %}