{% load wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags%}

{% load wagtailcore_tags %}

{% block content %}
{% if latest_posts %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="box bloglink">
        <a href="{{ latest_posts.url }}" class="text-decoration-none">
          <div class="card mb-4 shadow-sm">
            {% image latest_posts.thumbNail original as blog_img %}

            <image src="{{blog_img.url}}" alt="Demo " width="100%" height="285" class="image-hover rounded-3 p-2" />
            <div class="card-body">
              <h4 class="head-color">
                {{ latest_posts.title }}
              </h4>
              <small class="text-muted">Posted on {{ latest_posts.created_date }}</small>
              <p class="card-text mt-3 text-body">
                {{ latest_posts.Short_Description }}
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">{{ latest_posts.minRead }} Minutes Read</small>
                <div class="d-flex justify-content-between align-items-center hide-content">
                  <small class="m-2">Continue Reading</small>
                  <i class="fa fa-long-arrow-right fa-sm"></i>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card subscribe-block align-items-center">
        <h2 class="mt-4 text-muted">Subscribe</h2>
        <small class="text-dark"> GET NOTIFIED ON LATEST BLOGS RELEASE </small>
        <form class="col-md-8 mt-5" action="{% routablepageurl page 'the_subscribe_page' %}" method="POST">
          {% csrf_token %}
          <input required type="email" id="email" name="email" style="width: 100%" placeholder="someone@email.com"
            class="p-2 rounded-3 form-control" />
          <input type="submit" value="Subscribe" style="width: 100%" class="p-1 rounded-3 btn btn-success mt-3" />
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}