<!-- POSTS -->

{% load wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags%}

{% load wagtailcore_tags %}

{% block content %}
{% if posts %}
<div class="py-5">
  <div class="container">
    <div class="row">
      {% for post in posts %}
      <div class="col-md-4 animate__backInLeft">
        <div class="box bloglink">
          <a href="{{ post.url }}" class="text-decoration-none">
            <div class="card mb-4 shadow-sm">
              {% image post.thumbNail original as blog_img %}

              <image alt="Demo" src="{{ blog_img.url }}" width="100%" height="225" class="image-hover" />
              <div class="card-body">
                <h4 class="head-color">
                  {{ post.title }}
                </h4>
                <small class="text-muted">Posted on {{ post.created_date  }}</small>
                <p class="card-text mt-3 text-body">
                  {{ post.Short_Description }}
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <small class="text-muted">{{ post.minRead }} Minutes Read</small>
                  <div class="d-flex justify-content-between align-items-center hide-content">
                    <small class="m-2">Continue Reading</small>
                    <i class="fa fa-long-arrow-right fa-sm"></i>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}
{% endblock %}