{% load wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags %}
{% load wagtailcore_tags %}
{% block content %}

<head>
    <style>
        .hide-content {
            display: none !important;
        }

        .head-color {
            color: #454545;
        }

        .box:hover .head-color {
            color: #0a58ca;
        }

        .box:hover .hide-content {
            display: block !important;
        }

        .box {
            transition: box-shadow 0.3s;
            transition: display 0.3s;
            background: #fff;
        }

        .box:hover {
            box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
        }

        .box:hover .image-hover {
            opacity: 0.6;
        }

        .box:hover .project-link {
            color: #0a58ca;
        }

        .project-link:hover {
            opacity: 0.6;
        }
    </style>
</head>
<div class="py-5">
    <div class="container">
        <div class="row">

            {% for post in all_projects %}
            <div class="col-md-4">
                <div class="box bloglink">

                    <div class="card mb-4 shadow-sm">
                        {% image post.thumbNail original as blog_img %}
                        <!-- <img class="card-img-top" src="{{ blog_img.url }}" style='width: 100%;' height="180" alt="Card image cap">
                                             -->
                        <image src="{{ blog_img.url }}" alt="Demo " width="100%" height="225" class="image-hover" />
                        <div class="card-body">
                            <h4 class="head-color">
                                {{ post.title }}
                            </h4>

                            <p class="card-text mt-3 text-body">
                                {{ post.Short_Description }}
                            </p>
                            <div class="d-flex justify-content-between align-items-center">


                                {% if not post.IsCodeProtected %}
                                <a class="d-flex btn  justify-content-between align-items-center hide-content text-decoration-none project-link"
                                    href="{{ post.GitLabLink }}" target="_blank">
                                    <i class="fa fa-gitlab fa-sm"></i>
                                    <small class="m-2">GitLab Source Code</small>

                                </a>

                                {% endif %}


                                {% if post.IsLiveDemo %}
                                <a class="d-flex btn  justify-content-between align-items-center hide-content text-decoration-none project-link"
                                    href="{{ post.LiveDemoLink }}" target="_blank">
                                    <small class="m-2">Live Demo</small>
                                    <i class="fa fa-eye fa-sm"></i>
                                </a>

                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}

        </div>
    </div>
</div>

{% endblock %}