{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags%}


{% load wagtailcore_tags %}


{% block body_class %}template-homepage{% endblock %}

{% block content %}


<!-- LATEST POST -->



<!-- SEARCH BAR -->




<!-- Blog Posts  -->

{% include "projects/posts.html" %}



<!-- PAGINATOR -->

{% if all_projects.paginator.num_pages > 1 %}
<div class="container mb-2">
    <div class="d-flex flex-row-reverse">
        <nav aria-label="Page navigation example">
            <div class="col-lg-12 ">
                <div class="pagination float-right">
                    {% if all_projects.has_previous %}
                    <li class="page-item">
                        <a href="?page={{ posts.previous_page_number }}" class="page-link">
                            <span>&laquo;</span>
                        </a>
                    </li>
                    {% endif %}

                    {% for page_num in all_projects.paginator.page_range %}
                    <li class="page-item {% if page_num == posts.number %} active{% endif %}">
                        <a href="?page={{ page_num }}" class="page-link">
                            {{ page_num }}
                        </a>
                    </li>
                    {% endfor %}

                    {% if all_projects.has_next %}
                    <li class="page-item">
                        <a href="?page={{ posts.next_page_number }}" class="page-link">
                            <span>&raquo;</span>
                        </a>
                    </li>
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>

</div>
{% endif %}
</div>

<!-- SUBSCRIBTION -->
</div>


{% endblock %}