{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags %}


{% load wagtailcore_tags %}


{% block body_class %}template-homepage{% endblock %}

{% block content %}


<head>
  <style>
    .input-field {
      background-color: #fafafa;
    }

    .submit-button:hover {
      opacity: 0.5;

    }

    .form-box {
      box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
    }

    .center {
      display: flex;
      align-items: center;
      border: 3px solid green;
      height: 100%;
    }
  </style>
</head>
<div class="py-3">
  <main class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="border-0 center">
          <div>
            <h1 class="text-dark">Contact Me</h1>
            <p class="text-muted pt-0 mt-0">
              Send an email if you need any help in your projects.
            </p>

            <div class="border mt-4" style="width: 40%"></div>

            <div class="mt-4">
              <p class="text-muted">
                <i class="fa fa-home p-2 pb-0"></i> Kathmandu, Nepal
              </p>
              <p>
                <a class="text-muted text-decoration-none useful-links" href="mailto:info@gmail.com ">
                  <i class="fa fa-envelope p-2 pt-0 pb-0"></i>
                  info@sujeetsingh.com.np</a>
              </p>
              <p>
                <a class="text-muted text-decoration-none useful-links" href="tel:98067854710">
                  <i class="fa fa-phone p-2 pt-0 pb-0"></i> +977 9803028810</a>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card form-box">

          <form class="p-5" action="{% routablepageurl page 'sendMessage' %}" method="POST">
            {% csrf_token %}
            <h3 class="text-muted">Feel Free to Send a message</h3>
            <div class="form-group mt-5">
              <input type="email" class="form-control input-field p-3" id="exampleFormControlInput1"
                placeholder="Your Mail" name="email" required />
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control input-field p-3" id="subject" placeholder="Subject" name="subject"
                required />
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control input-field" id="exampleFormControlTextarea1" rows="5" placeholder="Message"
                name="message" required></textarea>
            </div>
            <button type="submit" class="btn mt-4 pl-4 pr-4 submit-button"
              style="background-color: #282829;color: #fbfbfb;">
              Send Message
            </button>
          </form>
        </div>
      </div>
    </div>
  </main>
</div>

{% endblock %}